{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h4>질문 등록</h4>
        <form method="post" class="my-3">
            {# csrf 토큰 #}
            {{ wtf.csrf_token }}
            {# 폼 유효성 검사후 오류 내용 출력(생략가능) #}
            <div role="alert">
                {% for field, errors in wtf.errors.items() %}
                <b>{{ wtf.get(field).label }}</b>
                <ol>
                    {% for err in errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                {% endfor %}
                </ol>
            </div>
            {# 입력-질문의 제목 #}
            {{ wtf.title.label }}
            {{ wtf.title( class="form-control" ) }}
            {# 입력-질문의 내용 #}
            {{ wtf.content.label }}
            {{ wtf.content( class="form-control" ) }}
            {# 전송기능 #}
            <input type="submit" value="저장" class="btn btn-warning">
        </form>
    </div>
{% endblock %}