<html>
<head></head>
<body>
    <div>
        <h3>링크를 눌러서 get 전송</h3>
        <a href="http://127.0.0.1:5000/link?name=hello&age=100">링크</a>
    </div>
    <div>
        <h3>from 태그를 통해서 form 전송(get 방식)</h3>
        <form action="http://127.0.0.1:5000/link" method="get">
            <input name="name" value="hello"/>
            <input name="age" value="100"/>
            <input type="submit" value="전송"/>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script>
        $.get({
                    url:"http://127.0.0.1:5000/link",
                    data:"name=hello&age=100",
                    success:( res )=>{
                        console.log( res )
                    },
                    error:(err)=>{ err }
        })
    </script>
</body>
</html>