{# 모든 페이지의 기본 베이스 페이지 #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-sclae=1">
    <title>부트스트랩 적용한 템플릿</title>
    {# 기본 스타일, 메타정보 #}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    {# 기본 베이스 페이지에 삽입할 내용이 시작하는 위치 #}
    {% block content %}
    {# 기본 베이스 페이지에 삽입할 내용이 끝나는 위치 #}
    {% endblock %}
    {# 기본 JS #}
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>