{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <button>로그인 이벤트 발생</button>
    </div>
    {# jQuery CDN #}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    {# 클라이언트의 정보를 클라이언트측에 저장시키겠다 => '쿠키'(서버/클라이언트모두저장),
       웹스토리지(로컬,세션), 웹DB #}
    {# jQuery-cookies CDN #}
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        $('button').on('click', ()=>{
            console.log('로그인 버튼을 눌렀다')
            $.post({
                url:'/auth/login',
                data:{uid:'guest', upw:'1234'},
                success: res=>{
                    console.log(res)
                }
            })
        })

    </script>
{% endblock %}